.container {
	min-width: 1050px;
	width: 80%;
	margin: auto;
	border-left: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;
	box-shadow: -1px 0 4px 0 #e2e2e2;
}

.header {
	min-width: 1050px;
	position: fixed;
	border-bottom: 1px solid #ccc;
	height: 50px;
	width: inherit;
	box-shadow: 0 4px 4px rgba(0,0,0,0.06);
}

.left-section {
	top: 10px;
	position: absolute;
	left: -1.5%;
	/* Copy Paste Text*/
	font: normal normal normal 13.3333330154419px/normal Arial;
	font-family: "nyt-franklin",arial,helvetica,sans-serif;
	font-weight: 700;
	line-height: 0.8125rem;
	font-size: 0.6875rem;
	color: #333;
  text-transform: uppercase;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
}

.left-section-content {
	margin-left: 5px;
}

.nav {
	height: 30px;
	border: 1px solid #ccc;
	background-color: white;
	box-shadow: 0 3px 2px 0 rgba(0,0,0,0.06),inset -1px -1px 1px 0 rgba(0,0,0,0.02);
}

.middle-section {
	margin: 0 auto;
	margin-top: 13px;
	height: 25px;
	width: 185px;
}

.right-section {
	top: 10px;
	right: 5%;
	position: absolute;
}

.right-section-content {
	margin-right: 5px;
}

.top-right-btn {
	/* Copy Paste Button */
	background-color: #6288a5;
  border-color: #4d7b9f;
  color: #fff;
  font-weight: 700;
  height: 30px;
  font-size: 0.6875rem;
  line-height: 0.8125rem;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  border-radius: 3px;
  padding: 7px 9px;
  border: 1px solid #e2e2e2;
  text-transform: uppercase;
  font: normal normal normal 13.3333330154419px/normal Arial;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
}

.content {
	padding-top: 50px;
	width: 1050px;
	height: 1800px;
	margin: auto;
}

.footer {
	width: 1050px;
	margin: auto;
	margin-bottom: 20px;
	padding: 10px 0;
	height: 20px;
	/* Copy Paste */
	border-top: 1px solid #e2e2e2;
}

.footer-content {
	margin: 0;
	padding: 0;
}

.footer-content li {
	display: inline;
	margin: 0;
	padding: 0;
	/* Copy Paste */
	padding: 0 5px;
	font-size: 0.6875rem;
  font-weight: 400;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  border-left: 1px solid #999;
  float: left;
  line-height: 10px;
  height: 10px;
  border-color: #e2e2e2;
}

#footer-left {
	float: left;
}

#footer-right {
	float: right;
}

#no-border {
  border: 0;
}
